*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header{
    background-color: #9891BF;
    height: 7rem;
    width: 100%;
}

.titulo{
    text-align: center;
    font-size: 7vh;
    padding: 1vh;
}

main{
    display: flex;
}
.imagen{
    flex: 1;
    flex-direction: column;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: -1vh;
}
.imagen img{
    border-radius: 25px;
    width: 40vh;
    height: 50vh;
    margin-right: 4vh;
}
ul {
    list-style-type: none;
    
}
.texto{
    margin: 2vh;
    margin-top: 6vh;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    
}
footer{
    background-color: #9891BF;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 14vh;
    height: 7vh;    
}

@media screen and (max-width: 550px){
    .titulo{
        font-size: 5vh;
    }
    main{
        flex-direction: column;
    }
    .texto{
        font-size: 2.5vh;
        padding: 3vh;
    }
    .imagen{
        justify-content: center;
        align-items: center;
        margin: 3vh;
    }
}